/* footer always bottom */
body {
  margin: 1px 0;
  font-family: sans-serif;
  background-image: url(/src/assets/img/png/stars-3750824_1280.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

video {
  width: 370px;
}

/* footer always bottom END */
/* visualizing structure sizes */
header {
  width: 100%;
  margin-top: 1px;
  height: 2.1rem;
}

.logo-container {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
}

.logo-header-img {
  margin: auto 0;
  height: 25px;
  display: block;
  max-width: 100vw;
}

footer {
  margin-top: auto;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(28, 154, 64, 0.2196078431), rgba(0, 0, 0, 0.791), rgba(0, 0, 0, 0.823), black, black, rgba(0, 0, 0, 0.823), rgba(0, 0, 0, 0.791), rgba(53, 97, 147, 0.2196078431));
  display: flex;
  height: 160px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* visualizing structure sizes END */
/* styles */
/* header styles and inside */
.header-container {
  margin-bottom: 0.3rem;
  border-radius: 50px;
  background: linear-gradient(-0.63turn, #1b7a18, rgba(13, 79, 9, 0.6784313725), rgba(3, 31, 3, 0), rgba(0, 0, 0, 0), rgba(6, 22, 47, 0), rgba(10, 47, 116, 0.5568627451), #1866cc);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* header styles and inside END */
/* main sections and inside sections*/
.carousel-1 {
  display: flex;
  flex-direction: column;
}

.carousel-fade {
  flex: 0 3 auto;
  margin-bottom: 1.5rem;
}

.carousel-fade .carousel-inner {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.about-unification {
  border-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  background: linear-gradient(-0.79turn, #1866cc, rgba(0, 0, 0, 0.486), #1b7a18);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.presentation {
  font-size: larger;
  font-weight: 730;
  line-height: 2rem;
  text-align: center;
  margin-left: 30px;
  color: white;
  order: 0;
  flex: 1 0 40%;
  align-self: center;
  height: auto;
  width: auto;
}

.presentation > p {
  padding: 0 15px;
}

.presentation-video {
  margin: 1px;
  order: 0;
  flex: 1 0 70%;
  align-self: stretch;
  height: auto;
  width: auto;
}

.presentation-video video {
  padding: 15px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

/* main sections and inside sections END*/
/* main end*/
/* style END*/
/* media queries mobile first */
/* media queries mobile first END */

/*# sourceMappingURL=style.css.map */
