body {
  margin: 1px 0;
  font-family: sans-serif;
  background-image: url(/src/assets/img/png/stars-3750824_1280.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  margin-top: 1px;
  height: 2.1rem;
}

video {
  width: 370px;
}

footer {
  margin-top: auto;
  border-radius: 10px;
  background: linear-gradient(to right, rgba(53, 97, 147, 0.2196078431), rgba(0, 0, 0, 0.791), rgba(0, 0, 0, 0.823), black, black, rgba(0, 0, 0, 0.823), rgba(0, 0, 0, 0.791), rgba(28, 154, 64, 0.2196078431));
  height: 10.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-container {
  margin-bottom: 0.3rem;
  border-radius: 50px;
  background: linear-gradient(-0.79turn, #1866cc, rgba(10, 47, 116, 0.5568627451), rgba(6, 22, 47, 0), rgba(0, 0, 0, 0), rgba(3, 31, 3, 0), rgba(13, 79, 9, 0.6784313725), #1b7a18);
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.nav-container {
  font-size: 0.9rem;
  margin: 5px auto;
}

.main-menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
}

.main-menu__item {
  padding: 0.74rem;
}

.main-menu__link {
  text-decoration: none;
  color: white;
}

.logo-button {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
}

.logo-header-img {
  margin: auto 0;
  height: 25px;
  max-width: 100vw;
}

.carousel-1 {
  display: flex;
  flex-direction: column;
}

.carousel-fade {
  flex: 0 3 auto;
}

.about-unification {
  margin-top: 0.7rem;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  background: linear-gradient(-0.79turn, rgba(24, 102, 204, 0.6980392157), rgba(24, 102, 204, 0.5058823529), rgba(0, 0, 0, 0.4862745098), rgba(27, 122, 24, 0.3137254902), #1b7a18);
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.presentation {
  font-size: larger;
  font-weight: 730;
  line-height: 2rem;
  text-align: center;
  margin-left: 30px;
  color: white;
  order: 0;
  flex: 1 0 40%;
  align-self: center;
  height: auto;
  width: auto;
}

.presentation > p {
  padding: 0 15px;
}

.carousel-fade .carousel-inner {
  margin-top: 0.7rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

/* media queries mobile first */
/* media queries mobile first END */

/*# sourceMappingURL=style.css.map */
