// @font-face {
//   font-family: Xbox;
//   src: url(/src/fonts/XboxOriginalBold-YzPYy.ttf) format("truetype");
// }

// @font-face {
//   font-family: PsBold;
//   src: url(/src/fonts/PsBold-2Oy2w.ttf) format("truetype");
// }

// @font-face {
//   font-family: PsOld;
//   src: url(/src/fonts/PsOld-vmPMD.ttf) format("truetype");
// }

body {
  margin: 1px 0;
  font-family: sans-serif;
  background-image: url(/src/assets/img/png/stars-3750824_1280.png);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  width: 100%;
  margin-top: 1px;
  height: 2.1rem;
}

video {
  width: 370px;
}

footer {
  margin-top: auto;
  border-radius: 10px;
  background: linear-gradient(
    to right,
    #35619338,
    rgba(0, 0, 0, 0.791),
    rgba(0, 0, 0, 0.823),
    black,
    black,
    rgba(0, 0, 0, 0.823),
    rgba(0, 0, 0, 0.791),
    #1c9a4038
  );
  height: 10.5rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header-container {
  margin-bottom: 0.3rem;
  border-radius: 50px;
  background: linear-gradient(
    -0.79turn,
    #1866cc,
    #0a2f748e,
    #06162f00,
    #00000000,
    #031f0300,
    #0d4f09ad,
    #1b7a18
  );
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.nav-container {
  font-size: 0.9rem;
  margin: 5px auto;
}

.main-menu {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;


  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
}

.main-menu__item{
  padding: 0.74rem;
}


.main-menu__link{
  text-decoration: none;
  color: white;
}


.logo-button {
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-evenly;
  margin: 5px auto;
}

.logo-header-img {
  margin: auto 0;
  height: 25px;
  max-width: 100vw;
}

// .spantitle span:nth-child(1) {
//   font-family: PsBold;
// }

// .logo-button span:nth-child(2) {
//   font-family: PsBold;
// }

.carousel-1 {
  display: flex;
  flex-direction: column;
}

.carousel-fade {
  flex: 0 3 auto;
}

.about-unification {
  margin-top: .7rem;
  border-radius: 10px 10px 10px 10px;
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  height: auto;
  background: linear-gradient(    -0.79turn,    #1866ccb2,    #1866cc81,    #0000007c,    #1b7a1850,    #1b7a18  );
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

.presentation {
  font-size: larger;
  font-weight: 730;
  line-height: 2rem;
  text-align: center;
  margin-left: 30px;
  color: white;
  order: 0;
  flex: 1 0 40%;
  align-self: center;
  height: auto;
  width: auto;
}

.presentation > p {
  padding: 0 15px;
}

.carousel-fade .carousel-inner {
  margin-top: .7rem;
  border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -ms-border-radius: 10px 10px 10px 10px;
  -o-border-radius: 10px 10px 10px 10px;
}

/* media queries mobile first */

@media screen and (min-width: 320px) {
}

@media screen and (min-width: 340px) {
}

@media screen and (min-width: 720px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
}

@media screen and (min-width: 1400px) {
}

/* media queries mobile first END */
