// Applying visual measures to structure content and layout for mobile first before all


//  visualizing header
header {
    background-color: rgb(14, 133, 133);
    height: 5rem;
}


//  visualizing body
body{
    background-color: rgb(77, 52, 113);
}

//  visualizing footer
footer{
    background-color: rgb(166, 124, 52);
    height: 20rem;
}